.blogs{

width: 845px;
height: 821px;
/* left: 320px; */
/* top: 178px; */
margin-bottom: 100px;
}

.author{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
   

}
.author-info{

 display: flex;
 align-items: center;
 
}


img {
    border-radius:8px;
  }
h4{
    margin-bottom: 5px;
}
p{
    margin-top: 5px;
}



.name{
    margin-left: 24px;
}

.time{
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-size: 20px;
    
}

.icon{

    background: none;
    border: none;
    
}


.mark-as-read{
    text-decoration: underline;
    color: blueviolet;
}


